@model IEnumerable<ErtiqaaContent.Models.Content>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ArticleHeader)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ArticleSubHeader)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ArticleMainText)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ArticleSubText)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ArticleImage)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ArticleSubImage)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ButtonText)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SectionId)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ArticleHeader)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ArticleSubHeader)
        </td>
        <td>
            @Html.Raw(item.ArticleMainText);
         
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ArticleSubText)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ArticleImage)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ArticleSubImage)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ButtonText)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SectionId)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
